body {
	background-image: url("../images/hp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	margin-top: 75px;
	background-color: rgba(255,255,255,.7);
	max-width: 65%;
	text-align: center;
	padding: 20px 30px 50px 30px;
}


.score-chart {
	margin-top: 30px;
}

.answers{
	font-weight: 500;
	font-size: 1.2em;
}

@media screen and (max-width: 770px) {
	.gif-area {
		display: none;
	}
}